@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    background: #1b1b1b;
    position: relative;
}

nav {
  position: absolute;
  top: 0;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  }
  
  nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .menu .logo a {
    text-decoration: none;
    color: red  ;
    font-size: 35px;
    font-weight: 600;
  }
  .menu ul {
    display: inline-flex;
  }
  
  .menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
    margin-left: 7px;
  }
  
  .menu ul li:first-child {
    margin-left: 0px;
  }
  
  .menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    letter-spacing: 2px;
  }
  
  .menu ul li a:hover {
    background: red;
    color: white;
  }
  
  .menu ul li.active a {
    color: #fff;
  }

.logo a {
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    color: #000; /* black color */
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;    
}  

.container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

img{
    position: relative;
    height: 370px;
    width: 240px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button{
    position: absolute;
    width: 240px;
    height: 370px;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider5:target ~ .imgContainer #img5,
#slider5:target ~ .imgContainer #button5{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider6:target ~ .imgContainer #img6,
#slider6:target ~ .imgContainer #button6{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider7:target ~ .imgContainer #img7,
#slider7:target ~ .imgContainer #button7{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider1:target ~ .imgContainer{
    left: 60%;
}
#slider2:target ~ .imgContainer{
    left: 40%;
}
#slider3:target ~ .imgContainer{
    left: 20%;
}
#slider4:target ~ .imgContainer{
    left: 0%;
}
#slider5:target ~ .imgContainer{
    left: -20%;
}
#slider6:target ~ .imgContainer{
    left: -40%;
}
#slider7:target ~ .imgContainer{
    left: -40%;
}
footer {

    width: 100%;
     position: fixed;
     bottom: 0;
     left: 0;
     background: #111;
    }
    
  
  footer .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer .content p,
  footer a {
    color: #fff;
  }
  
  footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
  }
  
  footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  }
  
  footer .content p {
    text-align: justify;
  }
  
  footer .content .lower .topic {
    margin: 24px 0 5px 0;
  }
  
  footer .content .lower i {
    padding-right: 16px;
  }
  
  footer .content .middle {
    padding-left: 80px;
  }
  
  footer .content .middle a {
    line-height: 32px;
  }
  
  footer .content .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  
  footer .content .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #eb2f06;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #eb2f06;
    transition: all 0.3s ease-in-out;
  }
  
  .content .right input[type="submit"]:hover {
    background: none;
    color: #eb2f06;
  }
  
  footer a {
    transition: all 0.3s ease;
  }
  
  footer a:hover {
    color: #eb2f06;
  }